
@model Http5101_assignment5.Models.Student

@{
    ViewBag.Title = "Show";
}


<div id="containerbox">

    <nav>
        <a class="navlink" href="/Student/List">Go Back To Students</a>
    </nav>
</div>

<div>

    <h2>@Model.StudentFname @Model.StudentLname</h2>
    <div>
       
        <div class="fieldContainer">
            <div class="bold">Student Number</div>
            <div>@Model.StudentNumber</div>
        </div>
        <div class="fieldContainer">
            <div class="bold">Enrol Date</div>
            <div>@Model.EnrolDate</div>

        </div>

       
    </div>



</div>


