<h1>Teacher and Student Database</h1>

<div class="row container">
    <div class="col-md-12">
        <a href="/Teacher/List">Go To Teacher List</a>
    </div>
    <div class="col-md-12">
        <a href="/Student/List">Go To Student List</a>
    </div>
    <div class="col-md-12">
        <a href="/Class/List">Go To Class List</a>
    </div>

</div>
