@model Http5101_assignment5.Models.Class
@{
    ViewBag.Title = "Show";
}


<div id="containerbox">

    <nav>
        <a class="navlink" href="/Class/List">Go Back To Classes</a>
       
    </nav>
</div>


<div>
    <h2>@Model.ClassCode - @Model.ClassName</h2>
    <div>
        <div class="fieldContainer">
            <div class="bold">Start Date</div>
            <div>@Model.StartDate</div>
        </div>
        <div class="fieldContainer">
            <div class="bold">End Date</div>
            <div>@Model.FinishDate</div>
        </div>
    </div>
</div>