@model Http5101_assignment5.Models.Class
@{
    ViewBag.Title = "Show";
}


<div id="containerbox">

    <nav>
        <a class="navlink" href="/Class/List">Go Back To Classes</a>
       
    </nav>
</div>


<div>

    <h2>@Model.ClassCode - @Model.ClassName</h2>
    <table class="table table-sm">
        <tbody>

            <tr>
                <th scope="row">Start Date</th>
                <td>@Model.StartDate</td>

            </tr>
            <tr>
                <th scope="row">End Date</th>
                <td>@Model.FinishDate</td>

            </tr>

        </tbody>
    </table>



</div>